@charset "UTF-8";
/*variable*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.header {
  background-color: #02303b; /*variable*/
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .navbar {
  background-color: #02303b; /*variable*/
  margin-top: 0;
  width: 100%;
}
.header .navbar ul li a {
  transition: transform 0.3s ease; /* animacion de los links del Navbar*/
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 0.5rem;
}
.header .navbar ul li a:hover {
  transform: scale(1.2);
}
.header .logo {
  width: 3rem;
  transition: transform 0.3s ease;
  margin: 1rem;
}
.header .logo:hover {
  transform: scale(1.2);
}
.header .titulos, .header body .section1 .subtitulos, body .section1 .header .subtitulos {
  animation: fadeInLeft; /* agregar animacion*/
  animation-duration: 2s;
}

/*section 1*/
/* font-family: 'Oswald', sans-serif; */
/*variables*/
body {
  background-image: url(../images/fondobody1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .section1 {
  background-color: transparent !important;
}
body .section1 .titulos, body .section1 .subtitulos {
  margin-top: 3rem;
  font-family: "Oswald", sans-serif; /*variable*/
  font-size: 3rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .section1 .subtitulos {
  /* Extend */
  color: #fff;
  font-size: 2rem;
  text-align: left;
}
body .section1 .text {
  background-color: rgba(37, 48, 53, 0.6); /*Variable*/
  border-radius: 1.5rem;
  font-family: "Oswald", sans-serif; /*Variable*/
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .section1 .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
body .section1 .noti {
  color: black;
  background-color: white;
  border-radius: 1.5rem;
  font-family: "Oswald", sans-serif; /*Variable*/
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header h1 {
    margin-bottom: 1rem;
  }
  main {
    padding: 1rem;
  }
  section {
    margin: 1rem 0;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer p {
    margin-bottom: 1rem;
  }
  .imagen {
    max-width: 300px;
    max-height: 200px;
  }
}
@media screen and (max-width: 480px) {
  main {
    flex-direction: column;
  }
  section {
    margin: 1rem 0;
  }
  .imagen {
    max-width: 150px;
    max-height: 100px;
  }
}
/* estilos del footer*/
.footer {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  background-color: rgb(63, 61, 61);
}

/*section 2*/
/* font-family: 'Oswald', sans-serif; */
.section2 {
  background-color: #02303b;
  color: #1A1A1A;
  text-align: center;
  padding: 2rem;
}
.section2 .image8bit {
  width: 2rem;
}
.section2 .list-unstyled {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 0.5rem;
}

.roms, .roms3, .roms2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  margin: 1rem auto;
  background-color: rgba(121, 29, 85, 0.5);
}
.roms .romstext, .roms3 .romstext, .roms2 .romstext {
  font-style: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: white;
}
.roms .imageroms, .roms3 .imageroms, .roms2 .imageroms {
  width: 140px;
  height: 12rem;
}

.roms2 {
  background-color: rgba(31, 146, 21, 0.5); /*extend*/
}

.roms3 {
  background-color: rgba(16, 23, 122, 0.5); /*extend*/
}

/* Importación de fuentes de google fonts */
/* uso de variable*/
/* Uso de Mixins*/
.bglinks {
  color: rgb(12, 12, 12);
}

/* estilo del formulario */
.form {
  height: 80%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact_form {
  width: auto;
  height: auto;
  /* uso de mixins */
  margin: 80px auto;
  border-radius: 10px;
  padding: 20px;
  background-image: url(../images/fondoform.jpg);
}

/* nombre, email, telefono, etc*/
input, textarea {
  width: 408px;
  height: 40px;
  /* uso de mixins */
  background-color: rgba(9, 144, 185, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(44, 75, 212);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 405px;
  height: 150px;
  /* uso de mixins */
  /*extend*/
}

label {
  display: block;
  float: center;
}

.buttonform {
  width: 410px;
  height: 45px;
  /* uso de mixins */
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  border-color: rgba(42, 132, 160, 0.1); /*variable*/
  border-style: solid;
  border-radius: 10px;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(44, 75, 212);
  cursor: pointer;
}

.buttonform .pform {
  color: #0f0d0d;
}

span, .aviso {
  color: rgb(197, 23, 212);
}

.aviso {
  /*extend*/
  font-size: 13px;
}

.h1form {
  font-size: 36px;
  text-align: left;
  padding-bottom: 20px;
  color: black;
}

.h3form {
  font-size: 16px;
  padding-bottom: 30px;
  color: black;
}

.pform {
  font-size: 14px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: black;
}

::-webkit-textarea-placeholder {
  color: #050000;
}

.formulario input:focus, .formulario textarea:focus {
  outline: 0;
  border: 3px solid black;
}

.formulario input:hover, .formulario textarea:hover {
  border: 3px solid black;
}

.formulario textarea:focus {
  outline: 0;
  border: 3px solid black;
}

.formulario textarea:hover {
  outline: 0;
  border: 3px solid black;
}

/* animacion de los links */
.underline-link {
  position: relative;
  text-decoration: none;
}

.underline-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(246, 246, 253);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-link:hover::after {
  transform: scaleX(1);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.2);
}

/* boton importado de uiverse.io*/
.boton {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.button {
  position: center;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/*boton volver arriba*/
#back-to-top-btn {
  position: sticky;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

/*estilos del carousel*/
.imgcarousel {
  width: 100%;
  height: auto;
}

.flecha {
  background-color: rgb(92, 3, 58);
  width: 2rem;
  padding: 3px;
}

.carousel {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
