/* Media Queries */
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    header h1 {
      margin-bottom: 1rem;
    }
  
    main {
      padding: 1rem;
    }
  
    section {
      margin: 1rem 0;
    }
  
    footer {
      flex-direction: column;
      text-align: center;
    }
  
    footer p {
      margin-bottom: 1rem;
    }
    .imagen{
          max-width: 300px;
          max-height: 200px;
        }
  }
  
   @media screen and (max-width: 480px) {
    main {
      flex-direction: column;
    }
  
    section {
      margin: 1rem 0;
    }
  
    .imagen{
       
          max-width: 150px;
          max-height: 100px;
        }
  }