/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/* uso de variable*/
$bg-color: rgba(42, 132, 160, 0.1);

/* Uso de Mixins*/
@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}



.bglinks {
	color: rgb(12, 12, 12);
}

/* estilo del formulario */

.form {
	height: 80%;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2rem;
	width: 100%;
	display: flex;
	justify-content: center;
}


.contact_form {
	@include sizes(auto, auto);  /* uso de mixins */
	margin: 80px auto;
	border-radius: 10px;
	padding: 20px;
	background-image: url(../images/fondoform.jpg);
}
	

/* nombre, email, telefono, etc*/

input {
	@include sizes(408px, 40px);   /* uso de mixins */ 
	background-color: rgba(9, 144, 185, 0.1) ;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(44, 75, 212);
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}


textarea {
	@include sizes(405px, 150px);   /* uso de mixins */
	@extend input;                   /*extend*/
	
}


label {
	display: block;
	float: center;
}


.buttonform {
	@include sizes(410px, 45px);  /* uso de mixins */

	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	border-color: $bg-color;    /*variable*/
	border-style: solid;
	border-radius: 10px;
	background-color: transparent;
	border-width: 1px;
	border-color: rgb(44, 75, 212);

	cursor: pointer;
}


.buttonform .pform {
	color: #0f0d0d;
}


span {
	color: rgb(197, 23, 212);


}


.aviso {
	@extend span;     /*extend*/
	font-size: 13px;
	
}


.h1form {
	font-size: 36px;
	text-align: left;
	padding-bottom: 20px;
	color: black;
}


.h3form {
	font-size: 16px;
	padding-bottom: 30px;
	color:black;
}


.pform {
	font-size: 14px;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


::-webkit-input-placeholder {
	color: black;
}


::-webkit-textarea-placeholder {
	color: #050000;
}


.formulario input:focus {
	outline: 0;
	border: 3px solid black;

}
.formulario input:hover{
	border: 3px solid black;
}

.formulario textarea:focus {
	outline: 0;
	border: 3px solid black;

}

.formulario textarea:hover {
	outline: 0;
	border: 3px solid black;
}