$navbarbgc: #02303b ;   /*variable*/

.header { 
    background-color: $navbarbgc;   /*variable*/
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    


    .navbar{
        background-color: $navbarbgc;  /*variable*/
        margin-top: 0;
        width: 100%;
     

        ul li a {
            transition: transform 0.3s ease;   /* animacion de los links del Navbar*/
            display: inline-block;
            text-align: center;
            list-style:none;
            padding: 0.5rem;
            
            
        }
            
        ul li a:hover {
            transform: scale(1.2);
        }    
            
       
    }

    .logo {
        width: 3rem;
        transition: transform 0.3s ease;
        margin: 1rem;
        
        
    }
    .logo:hover {
        transform: scale(1.2);

    }

    .titulos{
        animation: fadeInLeft; /* agregar animacion*/
        animation-duration: 2s;
    }
    
}