/*section 1*/
/* font-family: 'Oswald', sans-serif; */
$fuente: 'Oswald', sans-serif;     /*variables*/
$bgtitulos: rgba(37, 48, 53, 0.6);


body {
    background-image: url(../images/fondobody1.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .section1{
        background-color: transparent !important;

        .titulos{ 
          margin-top: 3rem;
          font-family: $fuente;         /*variable*/
          font-size: 3rem;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
      
        }

        .subtitulos{
          @extend .titulos;  /* Extend */
          color: #fff;
          font-size: 2rem;
          text-align: left;
          
        }

      .text{
        background-color: $bgtitulos;  /*Variable*/
        border-radius: 1.5rem;
        font-family: $fuente;    /*Variable*/
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

      }

      .imagen{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
      }
      
        .noti{
          color: black;
          background-color: white;
        border-radius: 1.5rem;
        font-family: $fuente;    /*Variable*/
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
          
        }
      } 
  
}
